footer {
    clear: both;
    text-align: left;
    font-size: 0.938em;
    padding: 4em 0 3em;
    background-color: #48595e;
    .container {
        @include gutter(60px);
        >div {
            padding-bottom: 1em;
        }
        display: flex;
        @include screen('tablet') {
            flex-wrap: wrap;
            display: block;
        }
    }
    .accesskey {
        color: #48595e;
    }
    a {
        text-decoration: none;
        color: $primaryColor;
        &:hover,
        &:focus {
            color: darken($primaryColor, 10);
        }
    }
    .footer_group {
        display: flex;
        flex-wrap: wrap;
        @include screen('tablet') {
            display: block;
            justify-content: center;
        }
        .footer_logo {
            flex: none;
            flex-basis: 40%;
            max-width: 40%;
            @include screen('tablet') {
                flex-basis: 60%;
                max-width: 60%;
                margin: 0 auto 1em;
            }
            @include screen('mobile') {
                flex-basis: 80%;
                max-width: 80%;
            }
            @include screen('xs_mobile') {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        .footer_info {
            flex: auto;
            flex-basis: 60%;
            max-width: 60%;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            @include screen('tablet') {
                flex-basis: 100%;
                max-width: 100%;
                justify-content: center;
            }
            .footer_link {
                @include li-reset();
                clear: both;
                display: flex;
                flex: auto;
                flex-basis: 100%;
                max-width: 100%;
                justify-content: flex-end;
                @include screen('tablet') {
                    justify-content: center;
                    flex-wrap: wrap;
                }
                li {
                    flex: 0 1 auto;
                    margin: 0px 5px 5px 0px;
                    // @include screen('mobile') {
                    //     lex: 0 1 auto;
                    // }
                    a {
                        display: block;
                        padding: 0.25em 0.6em;
                        letter-spacing: 0.03em;
                        color: #fff;
                        text-align: center;
                        transition: 0.3s ease-out;
                        white-space: nowrap;
                        &:hover,
                        &:focus {
                            background: darken($primaryColor, 10);
                        }
                    }
                }
            }
            .sharelist {
                ul {
                    display: flex;
                    height: 60px;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    justify-content: center;
                    align-items: center;
                    li {
                        margin: 0 6px;
                        a {
                            display: block;
                            padding: 0;
                            box-sizing: border-box;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 30px;
                            width: 30px;
                            height: 30px;
                            font-size: 0;
                            transition: .5s;
                            &:hover {
                                background-size: 50px;
                                width: 50px;
                                height: 50px;
                            }
                            &.fb {
                                background-image: url('../images/shareicon_f.svg');
                                &:hover {
                                    background-image: url('../images/shareicon_f_hover.svg');
                                }
                            }
                            &.youtube {
                                background-image: url('../images/shareicon_youtube.svg');
                                &:hover {
                                    background-image: url('../images/shareicon_youtube_hover.svg');
                                }
                            }
                            &.podcast {
                                background-image: url('../images/shareicon_mike.svg');
                                &:hover {
                                    background-image: url('../images/shareicon_mike_hover.svg');
                                }
                            }
                            &.instagram {
                                background-image: url('../images/shareicon_instagram.svg');
                                &:hover {
                                    background-image: url('../images/shareicon_instagram_hover.svg');
                                }
                            }
                            &.blog {
                                background-image: url('../images/shareicon_blog.svg');
                                &:hover {
                                    background-image: url('../images/shareicon_blog_hover.svg');
                                }
                            }
                            &.peopo {
                                background-image: url('../images/shareicon_peopo.svg');
                                &:hover {
                                    background-image: url('../images/shareicon_peopo_hover.svg');
                                }
                            }
                            &.flickr {
                                background-image: url('../images/shareicon_flickr.svg');
                                &:hover {
                                    background-image: url('../images/shareicon_flickr_hover.svg');
                                }
                            }
                            // 
                        }
                    }
                }
            }
        }
    }
    .footer_data {
        flex: auto;
        flex-basis: 100%;
        max-width: 100%;
        color: #fff;
        letter-spacing: 0.03em;
        @include screen('tablet') {
            text-align: center;
        }
        img{
            vertical-align: middle;
        }
        p{
            span{
                display: inline-block;
            }
        }
    }
    // .footer_icon {
    //     flex: 0 1 200px;
    //     @include screen('tablet') {
    //         flex: 1 1 100%;
    //         text-align: right;
    //     }
    // }
    // 版權連結
    p {
        line-height: 1.65em;
    }
    .update,
    .counter {
        display: inline-block;
        margin-right: 5px;
        em {
            font-style: normal;
            color: #fff;
            padding: 0 0.5em;
        }
    }
    .footer_icon {
        a {
            display: inline-block;
            vertical-align: top;
            position: relative;
            &:focus {
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 0px 0px 1px $aHover inset;
                    z-index: 99;
                }
            }
        }
        img {
            max-width: 150px;
        }
    }
}