@charset "utf-8";
/* CSS Document */

.header, .top ,  .friendly, .footer, .accesskey, .leftbg{
	display:none
}
body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	background-image: none;	
}
.wrap {
	background-image: none;
	width: 98%;
	font-family:   Arial, Helvetica, sans-serif, 新細明體;
	padding: 0px;
	border-bottom-style: none;
	background-color: #FFFFFF;	
}
.layout {
	width: 100%;
	margin:20px 0 0 0;
}
h2{
	margin-top: 20px;
}
.layout .center {
	background-image: none;	
	
	
}