// 
.movie_lightbox, .search_lightbox, .activitycalendar_lightbox, .activitydata_lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 99;
    display: none;
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .close {
        background-image: url('../images/icon/icon_close2.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
    }
}
// 影片燈箱movie_lightbox
.movie_lightbox {
    .content {
        width: 60vw;
        height: 33.75vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        background-color: #000;
        border-radius: 0;
        overflow: auto;
        text-align: left;
        overflow: hidden;
        @media(max-width: 1200px) {
            width: 80vw;
            height: 45vw;
        }
    }
}
// 查詢燈箱search_lightbox
.search_lightbox {
    .content {
        width: 650px;
        height: 420px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        background-color: #fff;
        border-radius: 0;
        overflow: auto;
        text-align: left;
        overflow: hidden;
        @include screen('mobile') {
            width: 75vw;
            height: 80%;
        }
        @include screen('xs_mobile') {
            width: 90vw;
        }
        // 條件查詢
        .search_condition {
            padding: 30px;
            box-sizing: border-box;
            @include screen('xs_mobile') {
                padding: 30px 15px;
            }
            .title {
                color: $primaryColor;
                font-size: 1.75em;
                text-align: center;
                margin-bottom: 1em;
                font-weight: bolder;
            }
            .form_grid {
                overflow-y: scroll;
                height: 300px;
                @include screen('mobile') {
                    height: 80%;
                }
                select {
                    width: calc(100% - 0.6em);
                }
                .btn_grp {
                    padding: 1.5em 0 0 !important;
                    button {
                        border-radius: 50px;
                        padding: 0.5em 3em !important;
                        margin: 0.3em 0.5em !important;
                    }
                }
            }
            .form_grp {
                .form_title {
                    max-width: 120px;
                    flex: 0 0 120px;
                }
            }
        }
        // 
    }
}
// 燈箱活動行事曆
.activitycalendar_lightbox {
    .content {
        width: 700px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        background-color: #fff;
        border-radius: 0;
        overflow: auto;
        text-align: left;
        overflow: hidden;
        @include screen('mobile') {
            width: 75vw;
            height: 80%;
        }
        @include screen('xs_mobile') {
            width: 90vw;
        }
        // 活動行事曆內容
        .activity_list_group {
            .title {
                background-color: $primaryColor;
                color: #fff;
                padding: 15px 20px;
                font-size: 1.25em;
                line-height: 1.45em;
            }
            .activity_list {
                padding: 10px 20px;
                box-sizing: border-box;
                overflow-y: scroll;
                height: 220px;
                @include screen('mobile') {
                    height: 70vh;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        padding: 10px 0;
                        border-bottom: 1px solid #ccc;
                        display: flex;
                        align-items: center;
                        @include screen('mobile') {
                            display: block;
                        }
                        a {
                            width: 58%;
                            display: inline-block;
                            position: relative;
                            padding-left: 23px;
                            @include text-overflow;
                            @include screen('mobile') {
                                width: 100%;
                            }
                            &:before {
                                content: '';
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: $color-word;
                                position: absolute;
                                left: 0;
                                top: 8px;
                            }
                        }
                        .date {
                            padding: 0 10px;
                            white-space: nowrap;
                            font-size: 0.938em;
                            color: #666;
                            @include screen('mobile') {
                                padding: 0 10px 0 25px;
                            }
                        }
                        .sorttag {
                            display: inline-block;
                            margin: 0;
                            font-size: 0.875em;
                            border: 1px solid $secondaryColor;
                            padding: 2px 12px;
                            border-radius: 50px;
                            color: $secondaryColor;
                            text-align: center;
                            min-width: 85px;
                        }
                    }
                }
            }
        }
    }
}
// 燈箱活動資料
.activitydata_lightbox {
    .content {
        width: 700px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        background-color: #fff;
        border-radius: 0;
        overflow: auto;
        text-align: left;
        overflow: hidden;
        @include screen('mobile') {
            width: 75vw;
            height: 85%;
        }
        @include screen('xs_mobile') {
            width: 90vw;
        }
        // 活動資料內容
        .activity_list_group {
            .title {
                background-color: $primaryColor;
                color: #fff;
                padding: 15px 20px;
                font-size: 1.25em;
                line-height: 1.45em;
            }
            .activity_list {
                padding: 10px 20px;
                box-sizing: border-box;
                overflow-y: scroll;
                height: 215px;
                @include screen('mobile') {
                    height: 73vh;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        padding: 0;
                        list-style-type: none;
                        a {
                            position: relative;
                            padding: 12px 0 8px 23px;
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #ccc;
                            @include screen('mobile') {
                                display: block;
                                flex-wrap: wrap;
                            }
                            &:before {
                                content: '';
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: $color-word;
                                position: absolute;
                                left: 0;
                                top: 20px;
                            }
                            span.heading {
                                flex: auto;
                                flex-basis: auto;
                                @include text-overflow;
                                text-align: left;
                                @include screen('mobile') {
                                    overflow: visible;
                                    white-space: normal;
                                    width: 100%;
                                    display: block;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}