// 內頁大圖
.innerpic {
    margin-bottom: 1em;
    position: relative;
    >.container {
        @include gutter(0); //gutter 代表左右要留白
        max-width: 100% !important;
    }
    .img-container {
        position: relative;
        background: #F1F1F1;
        @include aspect-ratio(16, 4);
        img {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }
    .title {
        position: absolute;
        color: #fff;
        bottom: 1.5em;
        left: 1.5em;
        font-size: 2em;
        font-weight: bolder;
        text-shadow: rgba(0, 0, 0, 1) 4px 5px 5px;
        letter-spacing: 0.05;
        line-height: 1.3em;
        @include screen('mobile') {
            bottom: 1em;
            left: 1em;
            font-size: 1.75em;
        }
        @include screen('xs_mobile') {
            bottom: .5em;
            left: 1em;
            font-size: 1.5em
        }
    }
    // 國家
    &.countrypic {
        &:before {
            content: '';
            background-color: rgba(0, 0, 0, .3);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 2;
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: -100%;
            right: 0;
            left: 0;
            z-index: 2;
            box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 160px 4px;
        }
        .img-container {
            position: relative;
            background: #F1F1F1;
            @include aspect-ratio(16, 5.5);
            img {
                position: absolute;
                max-width: 100% !important;
                max-height: 100% !important;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: cover;
                z-index: 1;
            }
        }
        // 國家資料
        .countrydata {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            .country_name {
                flex: none;
                font-size: 12em;
                color: #fff;
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
                line-height: 0.5em;
                margin-bottom: .4em;
                margin-top: .1em;
                text-shadow: 0px 0px 50px #444;
                @include screen('notebook') {
                    font-size: 10em;
                }
                @include screen('tablet') {
                    font-size: 8em;
                }
                @include screen('mobile') {
                    font-size: 6em;
                }
                @media(max-width: 600px) {
                    font-size: 5em;
                }
                @media(max-width: 500px) {
                    font-size: 4em;
                }
                @media(max-width: 400px) {
                    font-size: 3em;
                }
                span {
                    font-size: 18px;
                    display: block;
                    font-weight: bolder;
                    padding-left: 1em;
                    @include screen('notebook') {
                        font-size: 16px;
                    }
                    @include screen('tablet') {
                        padding-left: 0.5em;
                    }
                    @include screen('mobile') {
                        padding-left: 0em;
                        margin-bottom: 0.5em;
                        font-size: 15px;
                    }
                    @media(max-width: 500px) {
                        font-size: 13px;
                    }
                    @media(max-width: 400px) {
                        font-size: 11px;
                        margin-bottom: 0.8em;
                    }
                }
            }
            .priority_areas {
                flex: none;
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    list-style-type: none;
                    li {
                        margin: 0 5px;
                        img {
                            width: 60px;
                            @include screen('tablet') {
                                width: 55px;
                            }
                            @include screen('mobile') {
                                width: 46px;
                            }
                            @media(max-width: 600px) {
                                width: 40px;
                            }
                            @media(max-width: 500px) {
                                width: 30px;
                            }
                            @media(max-width: 400px) {
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}
// 季刊列表頁面
// 季刊 block
.periodical_block {
    display: flex;
    flex-wrap: wrap;
    .periodical_group {
        flex: none;
        flex-basis: 23%;
        max-width: 23%;
        margin: 0 1% 2em;
        padding: 15px 20px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
        transition: .5s;
        @include screen('notebook') {
            flex-basis: 31%;
            max-width: 31%;
            margin: 0 1.16% 2em;
        }
        @include screen('mobile') {
            flex-basis: 46%;
            max-width: 46%;
            margin: 0 2% 2em;
        }
        @media(max-width: 500px) {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0 0 2em;
        }
        &:hover {
            background-color: lighten($primaryColor, 50);
            .years {
                background-color: #fff;
            }
        }
        .years {
            color: darken($lightColor, 20);
            font-size: 1.5em;
            margin: 0 0 .5em;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            padding: 8px 20px;
            background-color: #eee;
            border-radius: 50px;
            display: inline-block;
        }
        .periodical_list {
            margin-bottom: 10px;
            padding: 0 0 0 18px;
            position: relative;
            &:before {
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 8px;
                background-color: #222;
            }
            .month {
                display: inline-block;
                margin-bottom: 5px;
                position: relative;
                a {
                    border-bottom: 1px solid #999;
                    &:hover {
                        color: darken($lightColor, 20);
                    }
                }
                span {
                    margin-right: 5px;
                    em {
                        font-weight: bolder;
                        color: #222;
                    }
                }
                em {
                    color: darken($lightColor, 20);
                    padding: 0 2px;
                    font-style: normal;
                    font-weight: bolder;
                    font-size: 1.063em;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                }
            }
            .title {
                font-size: 0.938em;
            }
        }
    }
}
// 年報列表頁面
// 年報
.annual_report_block {
    .annual_report_group {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 0;
        .annual_report_list {
            flex: none;
            flex-basis: 21%;
            max-width: 21%;
            margin: 0 2% 2em;
            padding: 15px 10px;
            box-sizing: border-box;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            transition: .5s;
            @include screen('tablet') {
                flex-basis: 31%;
                max-width: 31%;
                margin: 0 1.16% 2em;
            }
            @include screen('mobile') {
                flex-basis: 46%;
                max-width: 46%;
                margin: 0 2% 2em;
            }
            @media(max-width: 500px) {
                flex-basis: 100%;
                max-width: 100%;
                margin: 0 0 2em;
            }
            a {
                display: block;
                text-align: center;
                .image {
                    width: 180px;
                    height: 255px;
                    position: relative;
                    margin: 0 auto 1em;
                    img {
                        position: absolute;
                        width: 100% !important;
                        height: 100% !important;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        object-fit: cover;
                        border: 1px solid #ddd;
                    }
                }
                .title {
                    font-size: 1.125em;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                }
            }
            &:hover {
                transform: scale(1.1);
                background-color: #ddd;
            }
        }
    }
}
// 影音專區頁面
// 影音專區
.movie_block {
    .movie_group {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 0;
        .movie_list {
            flex: none;
            flex-basis: 30%;
            max-width: 30%;
            margin: 0 1.66% 2em;
            padding: 20px;
            box-sizing: border-box;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            transition: .5s;
            @include screen('mobile') {
                flex-basis: 46%;
                max-width: 46%;
                margin: 0 2% 2em;
            }
            @include screen('xs_mobile') {
                flex-basis: 100%;
                max-width: 100%;
                margin: 0 0 2em;
            }
            .image {
                width: 100%;
                height: 180px;
                position: relative;
                margin: 0 auto 1em;
                overflow: hidden;
                @include screen('xs_mobile') {
                    height: 250px;
                }
                &.movie {
                    a {
                        &:before {
                            content: '';
                            width: 60px;
                            height: 60px;
                            background-color: $primaryColor;
                            border-radius: 50%;
                            position: absolute;
                            left: 50%;
                            top: 40%;
                            margin-left: -30px;
                            margin-top: -3px;
                            display: block;
                            z-index: 2;
                            transition: .5s;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                        &:after {
                            content: '';
                            border: 14px solid #fff;
                            border-top-color: transparent;
                            border-right-color: transparent;
                            border-bottom-color: transparent;
                            position: absolute;
                            left: 49%;
                            top: 30%;
                            margin-top: 32px;
                            margin-left: 0px;
                            display: block;
                            z-index: 3;
                        }
                        &:hover {
                            &:before {
                                background-color: $secondaryColor;
                                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                            }
                        }
                        &:hover {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                img {
                    position: absolute;
                    width: 100% !important;
                    height: 100% !important;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    object-fit: cover;
                    transition: .5s;
                }
            }
            a {
                display: block;
                color: $color-word;
                &:hover {
                    color: $aHover;
                    .title {
                        color: $aHover;
                    }
                }
                .title {
                    color: $color-word;
                    font-weight: bolder;
                    @include text-line(2, 1.5em);
                }
                p {
                    @include text-line(2, 1.5em);
                    padding: 0;
                    margin: 8px 0 0;
                }
            }
        }
    }
}
// 資訊問答
.dataqa_block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 2em 0 0;
    background-color: #eee;
    border-radius: 50px;
    @include screen('mobile') {
        flex-wrap: wrap;
        border-radius: 5px;
    }
    .question {
        flex: none;
        @include screen('mobile') {
            margin-bottom: 10px;
        }
    }
    .options_block {
        flex: none;
        @include screen('mobile') {
            margin-bottom: 10px;
        }
        label {
            margin: 0;
            display: inline-block;
            input[type='radio'] {
                margin: 0 0.5em 0.3em;
            }
        }
    }
    .btn_grp {
        flex: none;
        padding: 0;
        @include screen('mobile') {
            flex-basis: 100%;
        }
    }
}
// 國家頁
// 國家優先領域區塊
.priority_areas_block {
    padding: 0 0 80px 0;
    .priority_areas_group {
        display: flex;
        align-items: center;
        @include screen('mobile') {
            display: block;
        }
        .leftbg {
            flex: auto;
            @include screen('mobile') {
                margin: 0 0 30px;
            }
            .title {
                color: $color-word;
                display: block;
                font-size: 1.5em;
                letter-spacing: 0.05em;
                margin-bottom: 25px;
            }
            .priority_list {
                ul {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    flex-wrap: wrap;
                    @include screen('mobile') {
                        justify-content: center;
                    }
                    li {
                        flex: none;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        font-size: 1.125em;
                        text-align: center;
                        img {
                            width: 90px;
                            height: 90px;
                            display: block;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        .rightbg {
            flex: none;
            flex-basis: 300px;
            max-width: 300px;
            margin: 0 auto;
            padding: 0 20px;
            box-sizing: border-box;
            @include screen('mobile') {
                flex-basis: 100%;
                max-width: 100%;
            }
            .country_map {
                width: 100%;
                border-radius: 50%;
                @include screen('mobile') {
                    width: 300px;
                    margin: 0 auto;
                }
                @media(max-width: 400px) {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}
// 相關計畫區塊
.related_plan_block {
    padding: 0 0 80px 0;
    .projectstab {
        .plansilder {
            .plansblock {
                padding: 0 60px 0 0;
                position: relative;
                a {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        transition: .5s;
                    }
                    .img-container {
                        position: relative;
                        @include aspect-ratio(16, 8);
                         img {
                            position: absolute;
                            width: 100% !important;
                            height: 100% !important;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            object-fit: cover;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
}