.category {
    @extend %clearfix;
    text-align: left;
    margin: 0 auto 1em;
    ul {
        @include li-reset;
        li {
            margin: 0px 5px 5px 0px;
            display: block;
            float: left;
        }
    }
    a {
        border: 1px solid $primaryColor;
        padding: 0.4em 0.8em;
        display: block;
        color: #fff;
        font-size: 1.063em;
        box-sizing: border-box;
        background-color: $primaryColor;
        border-radius: 5px;
        &:hover,
        &:focus,
        &.active {
            color: #fff;
            background-color: darken($secondaryColor, 10);
            border: 1px solid darken($secondaryColor, 10);
            box-shadow: none;
        }
        span {
            font-size: 1;
            &:before {
                content: '(';
                display: inline-block;
            }
            &:after {
                content: ')';
                display: inline-block;
            }
        }
        &.yellowbg {
            background-color: #ffc20d;
            border: 1px solid #ffc20d;
            &:hover,
            &:focus,
            &.active {
                color: #fff;
                background-color: darken(#ffc20d, 10);
                border: 1px solid darken(#ffc20d, 10);
                box-shadow: none;
            }
        }
    }
}